/* You can add global styles to this file, and also import other style files */
@import "~@angular/cdk/overlay-prebuilt.css";
@import "~@angular/material/theming";
@import "~material-icons/iconfont/material-icons.css";
@import "./assets/scss/fonts";
@import "./assets/scss/variables";
// @import './assets/scss/mixins';
// @import '~ngx-toastr/toastr.css';

@include mat-core();

$mat-deep-purple-snps: (
  50: #ede7f6,
  100: #d1c4e9,
  200: #b39ddb,
  300: #9575cd,
  400: #7e57c2,
  500: #673ab7,
  600: #5e35b1,
  700: #512da8,
  800: #4527a0,
  900: #3e2652,
  A100: #b388ff,
  A200: #7c4dff,
  A400: #651fff,
  A700: #6200ea,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$app-primary: mat-palette($mat-indigo-palette, 900);
$app-accent: mat-palette($mat-pink-palette, A200, A100, A400);
$app-warn: mat-palette($mat-red-palette);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
$app-dark-theme: mat-dark-theme(
  $app-primary,
  mat-palette($mat-blue-grey-palette),
  $app-warn
);

@include angular-material-theme($app-theme);

$background: #fff;
$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);

* {
  margin: 0;
  padding: 0;
}

body {
  // background-color: #000000;
}

.disp-flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.align-center {
  display: flex;
  align-items: center;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.font_reg {
  font-family: $SansReg;
}

.font_bold {
  font-family: $SansBold;
}

.font_semi-bold {
  font-family: $SansSemiBold;
}

.font_075rem {
  font-size: 0.75rem;
}

.font_85rem {
  font-size: 0.85rem !important;
}

.font_09rem {
  font-size: 0.9rem;
  // @include layout(1023) {
  //   font-size: 0.75rem;
  // }
}

.font_10rem {
  font-size: 1rem;
  // @include layout(1023) {
  //   font-size: 0.9rem;
  // }
}

.font_11rem {
  font-size: 1.1rem;
  // @include layout(1023) {
  //   font-size: 1rem;
  // }
}

.font_12rem {
  font-size: 1.2rem;
  // @include layout(1023) {
  //   font-size: 1.1rem;
  // }
}

/** Width */
::-webkit-scrollbar {
  width: 5px;
  // height: 4px;
}

/** Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: $scrollBg;
  border-radius: 8px;
}

// .mat-dialog-container::-webkit-scrollbar-thumb {
//   background: $scrollBg;
//   border-radius: 8px;
// }

// $my-primary: mat-palette($indigo-palette, 500);
// $my-accent: mat-palette($pink-palette, A200, A100, A400);

// // The "warn" palette is optional and defaults to red if not specified.
// $my-warn: mat-palette($red-palette);

.btn-disabled {
  cursor: unset;
  filter: grayscale(1);
  pointer-events: none;
  opacity: 0.5;
  text-transform: uppercase;
}

.btn-enabled {
  box-shadow: unset;
  padding: 10px 20px;
  line-height: inherit;
  font-size: 0.9rem;
  color: white;
  background-color: $btnColor;
  text-transform: uppercase;
  // font-family: $RobotoBold;
  letter-spacing: 1.25px;
  width: fit-content;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  // @include layout(767) {
  //   padding: 7px 15px;
  //   font-size: 0.75rem;
  // }
}

.pointer {
  cursor: pointer;
}

::ng-deep {
  .mat-form-field-outline-start,
  .mat-form-field-outline-end {
    border-radius: 0px 0 0 0px !important;
    border-right-style: none;
    border-left-style: none;
  }
}
